* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik Mono One", sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

/* Navbar styling */
.nav-link {
  font-size: 30px;
  font-weight: 800;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: #334443;
}
/* DASHBOARD NAVBAR STYLING */

.tabs-container {
  display: flex;
  justify-content: end;
}
.dash-link {
  font-weight: 800;
  padding: 15px;
  text-decoration: none;
  color: #34656d;
}

.dash-link:hover {
  color: #334443;
}

/* PROFILE  */
.profileBlock {
  font-size: 30px;
}

/* SEARCH SIDEBAR */
.searchHeader {
  font-weight: bold;
  margin-bottom: 10px;
  color: #34656d;
  font-size: 25px;
}

.searchOptionHeader {
  color: #34656d;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.childFriendly,
.spayed {
  margin: 30px 0px 30px 0px;
}
